*{
 text-align: center;
}

#totalScores{
align: left;
float:left;
font:red;
}

.timer{
-ms-flex-align: right;
float:right;
font:red;
}

#scores{
    -ms-flex-align: left;
    float: left
}

#startbtn{
font-size: larger;
width:200px;
height: 70px;
border-radius:20px;

}